/************************
GENERAL
**************************/

body {
  font-family: font-family: 'Lobster Two', 400;
}


#wrapper {
 padding: 5px;
	width: 960px;
	margin: 20px auto;
}

a {
  text-decoration: none;
}
  img{
    max-width: 100%;
   
    
}
/***************************
HEADING
****************************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
text-align: center;
 
}



#logo {
  text-align: center;
  margin: 0;
}

h1 {
   
 font-family: 'Macondo Swash Caps', cursive;
  margin: 15px 0;
font-weight: normal;
    line-height: 1.3em;
   
}


}

h2 {
  font-size: .75em;
  margin: -5px 0 0;
font-weight: normal;
font-family: 'Henny Penny', cursive;
}

h3 {
     text-align: center;
}

/****************************
Front page EVa
****************************/

}
.fundo {
  
  margin: 50px auto
}
.eve {
  margin-left: auto;
    margin-right: auto;
    width: 6em;
    display: flex;
    vertical-align: middle; 
    
 
  animation: anda .4s infinite alternate ease-in-out;
    
}
.cabeca {
  position: absolute;
  width: 130px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
  animation: own 2s infinite alternate ease-in-out;
}
.rosto {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 60px;
  border-radius: 50%;
  background: #313131;
}
.rosto::before {
  position: absolute;
  top: 20px;
  left: 13px;
  width: 32px;
  height: 18px;
  background: #5DC9DB;
  transform: rotate(16deg);
  border-radius: 50%;
  box-shadow: 0px 0px 10px #5DC9DB;
  content:"";
}
.rosto::after {
  position: absolute;
  top: 20px;
  left: 56px;
  width: 32px;
  height: 18px;
  background: #5DC9DB;
  transform: rotate(-16deg);
  border-radius: 50%;
  box-shadow: 0px 0px 10px #5DC9DB;
  content:"";
}
.corpo {
  position: absolute;
  top: 95px;
  left: 15px;
  width: 100px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
}
.corpo::after {
  position: absolute;
  width: 100px;
  height: 60px;
  background: #fff;
  content:"";
}
.braco-1 {
  position: absolute;
  left: 100px;
  width: 30px;
  height: 110px;
  transform: rotate(-16deg);
  border-radius: 50%;
  background: #fff;
}
.braco-2 {
  position: absolute;
  left: -30px;
  width: 30px;
  height: 110px;
  transform: rotate(16deg);
  border-radius: 50%;
  background: #fff;
}


@keyframes anda {
  0%   {transform: translateY(-5px)}
  100% {transform: translateY(5px)}
}
@keyframes own {
  100% {transform: rotate(-15deg)}
}
@keyframes shadow {
	0% {transform: scaleX(1)}
	100% {transform: scaleX(1.2)}
}

/***************************
NAVIGATION
****************************/

nav {
  text-align: center;
  padding:10px 0px;
  margin: 20px 0 0;
}


nav ul {
list-style: none;
  margin: 0 10px;
  padding: 0;
}
nav li {
  display: inline-flex;
}

nav a {
  font-weight:bolder;
  padding: 15px 10px;
}

/***************************
PAGE: PORTFOLIO
****************************/

<section>
<div id=pagewrap> 
<section id="primay">

#sb-body input { display: none; }

#sb-body-inner {
   top: 20;
    opacity: 0;
    width: 50;
    height: 50;
    display: block;
    position: absolute;
overflow:auto;

    transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -webkit-transform: rotate(360deg) scale(0);
    
    transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
}

#sb-body-inner img {
    width: 100%;
    height: 100%;
}


#sb-body-inner:hover ~ label[id^="sb-nav-previous-"].sb-bignav, #sb-body-inner:hover ~ label[id^="sb-nav-next-"].sb-bignav { opacity: 0.5; }

label[id^="sb-nav-previous-"].sb-bignav:hover, label[id^="sb-nav-next-"].sb-bignav:hover {
    opacity: 1.0;
}

.sb-bignav {
    display: none;
    cursor: pointer;
    position: fixed; 
    padding: 20px;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 4000;
    opacity: 0;
    transition: opacity .125s;
    -moz-transition: opacity .125s;
    -webkit-transition: opacity .125s;
}

label[id^="sb-nav-next-"] {
    right: 0;
    background: url('http://www.element17.com/images/nav-right.png') center center no-repeat;
}

label[id^="sb-nav-previous-"] {
    background: url('http://www.element17.com/images/nav-left.png') center center no-repeat;
}

#prev-1:checked ~ #sb-body-inner:nth-of-type(1),
#next-1:checked ~ #sb-body-inner:nth-of-type(1),

#prev-2:checked ~ #sb-body-inner:nth-of-type(2),
#next-2:checked ~ #sb-body-inner:nth-of-type(2),

#prev-3:checked ~ #sb-body-inner:nth-of-type(3),
#next-3:checked ~ #sb-body-inner:nth-of-type(3),

#prev-4:checked ~ #sb-body-inner:nth-of-type(4),
#next-4:checked ~ #sb-body-inner:nth-of-type(4),

#prev-5:checked ~ #sb-body-inner:nth-of-type(5),
#next-5:checked ~ #sb-body-inner:nth-of-type(5),

#prev-6:checked ~ #sb-body-inner:nth-of-type(6),
#next-6:checked ~ #sb-body-inner:nth-of-type(6) {
    opacity: 1;
    
    transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);

    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#prev-1:checked ~ #sb-nav-previous-6,
#next-1:checked ~ #sb-nav-previous-6,
#prev-1:checked ~ #sb-nav-next-2,
#next-1:checked ~ #sb-nav-next-2,

#prev-2:checked ~ #sb-nav-previous-1,
#next-2:checked ~ #sb-nav-previous-1,
#prev-2:checked ~ #sb-nav-next-3,
#next-2:checked ~ #sb-nav-next-3,

#prev-3:checked ~ #sb-nav-previous-2,
#next-3:checked ~ #sb-nav-previous-2,
#prev-3:checked ~ #sb-nav-next-4,
#next-3:checked ~ #sb-nav-next-4,

#prev-4:checked ~ #sb-nav-previous-3,
#next-4:checked ~ #sb-nav-previous-3,
#prev-4:checked ~ #sb-nav-next-5,
#next-4:checked ~ #sb-nav-next-5,

#prev-5:checked ~ #sb-nav-previous-4,
#next-5:checked ~ #sb-nav-previous-4,
#prev-5:checked ~ #sb-nav-next-6,
#next-5:checked ~ #sb-nav-next-6,

#prev-6:checked ~ #sb-nav-previous-5,
#next-6:checked ~ #sb-nav-previous-5,
#prev-6:checked ~ #sb-nav-next-1,
#next-6:checked ~ #sb-nav-next-1 

{ display: block; }
</section> 
 
/*******skills*******/

.wrapper {
  width: 100%;
  height: 460px;
  position: relative;
  perspective: 300px
}

.sLider {

  position: relative;
  width: 640px;
  height: 320px;
  margin: 0 auto;
  overflow: visible;
  perspective: 300px;
  background: #000
      column-count: 2;
   
}

.slide {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  font-family: Impact;
  font-size: 96px;
  animation-name: slideList;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
  position: absolute;
  bottom: 0px;
  transform-origin: bottom:0;
    margin-left: auto;
        align: center; 
        margin-right: auto;
    top; 0px;
  transform: rotateX(90deg);
  opacity: 0;

      
}

.slide1 {
  background-color: #ef7b00;
  animation-delay: 0s;
  z-index: 5
}

.slide2 {
  background-color: #58bacc;
  animation-delay: 4s;
  z-index: 4
}

.slide3 {
  background-color: #67b145;
  animation-delay: 8s;
  z-index: 3
}

.slide4 {
  background-color: #7a3e91;
  animation-delay: 12s;
  z-index: 2
}

.slide5 {
  background-color: #e41a20;
  animation-delay: 16s;
  z-index: 1
}

@keyframes slideList {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
    transform-origin: top
  }
  3% {
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 6
  }
  18% {
    transform: rotateX(0deg);
    opacity: 1;
    z-index: 6
  }
  23% {
    transform: rotateX(90deg);
    opacity: 0;
    transform-origin: bottom
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
    transform-origin: bottom
  }
}

@-webkit-keyframes slideList {
  0% {
    -webkit-transform: rotateX(-90deg);
    opacity: 0;
    -webkit-transform-origin: top
  }
  3% {
    -webkit-transform: rotateY(0deg);
    opacity: 1;
    z-index: 6
  }
  18% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
    z-index: 6
  }
  23% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
    -webkit-transform-origin: bottom
  }
  100% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
    -webkit-transform-origin: bottom
  }
}



.slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
}





/***************************
PAGE: ABOUT
****************************/

.profile-photo {
 display: block;
    padding: 1em;
  
 
  margin: 0 auto ;
  border-radius: 100%;
	max-height: 50%;
    

   
}

.container {
  display: flex;
  flex-wrap: wrap;
   
   
}
.container .item {
  flex: 2 0 25%;
  box-sizing: border-box;
  color: #fff;
  padding: 10px;


}
.item p {
padding: 1em;
  margin: 0;
    text-align: center;

    
}
.item img {
max-width: 100%;
          transition: all 1s ease;
}
 
.item img:hover {
  border-radius: 150%;
 
          transform: rotate(360deg);

}


/*****************************
COLORS
**********************************/

/* site body*/
body {
  background-color: #423629;
  color: #fff;
    text-align: inherit;
    margin: 0 5em 5em 5em;
    overflow: auto;
}

/* red header*/
header{
  background: #B80C09;
  border-color: #010001;
}

 /*nav background on mobile */
nav {
  background:  #010001;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color:#B80C09;
}


nav a, nav a:visited {
  color: #fff;
  /* nav link */
}
/* selected nav link */
nav a.selected, nav a:hover {
  color: #423629;
}


/***************************
Contact page
****************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20em;
    font-size: 1.25em
}
.contact-info a {
 
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 40px;
    margin: 1px 0 10px;
}

    .contact-info li.phone a {
    background-image: url('../img/phone.svg');
}
    .contact-info li.mail a {
        background-image: url('../img/emailicon.svg');
}
    .contact-info li.facebook a{
            background-image: url('../img/fbIcon.svg');
}





/***************************
FOOTER
****************************/
  footer {
    font-size:0.75em;
    text-align: center;
    clear: both;
    padding-top: 5px;
    color: #ccc;
     
      }
#footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:60px; 